Source: hybris-codegen
Section: libs
Priority: optional
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Build-Depends: debhelper-compat (= 13),
               libhybris-dev,
               android-headers,
               meson,
Standards-Version: 4.7.2
Vcs-Browser: https://github.com/furilabs/hybris-codegen
Vcs-Git: https://github.com/furilabs/hybris-codegen.git

Package: hybris-codegen
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         meson,
         aidl,
Description: hybris-codegen allows to generate AIDL code at compile-time
